 .product-container {
    margin: 5rem 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .product-page {
    width: 50%; 
    margin-bottom: 20px;
  }
  
  .product-image {
    width: 35%; 
    margin-left: 34%;
  }
  
  .product-info {
    padding: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 15%;
    margin-right: 10%;
  }
  
  .product-sell {
    font-size: 120%;
    font-weight: bold; 
  }

  .dropDown {
    padding: 5px;
    text-align: center;  
    border: 2px solid black;
  }
  .filters {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem;
  }
  .SearchBar {
    width: 50%;
    border: 2px solid black;
  }
  .title{
    text-align: center;
    font-size: 500%;
    font-family: 'Exo 2', sans-serif;
  } 

  @media only screen and (min-width: 350px) and (max-width: 650px)  {
    .product-page {
        width: 100%; 
        margin-bottom: 20px;
      }
      .product-image {
        width: 70%;
        margin-left: 18%;
      }
  }

  @media only screen and (min-width: 650px) and (max-width: 1000px)  {
    .product-page {
        width: 50%; 
      }
      .product-image {
        width: 50%;
        margin-left: 28%;
      }
  }

  @media only screen and (min-width: 1001px) and (max-width: 1500px)  {
    .product-page {
        width: 50%; 
      }
      .product-image {
        width: 43%;
        margin-left: 30%;
      }
  }