    main {
         display: flex;
        justify-content: space-evenly;
    }
    
    .contact-us {
        width: 40%;
        height: 70%;
        background-color:#FFF6EC;
        margin: 1% 1% 1%;
        padding: 1% 1% 1%;
    }
    
    .contact {
        text-align: center;
        padding: 7%;
    }
    
    .form {
        font-size: 125%;
    }
    
    .contact-heading {
        font-size: 250%;
    }
    
    .input{
        width: 97%;
        padding: 1%;
        margin-bottom: 1%;
    }
    
    #email{
        width: 15%;
        padding: 1%;
        margin: 1%;
    }
    
    .send {
        font-family: 'Exo 2', sans-serif; 
        padding: 1% 2% 1%;
        margin-top: 2%;
        background-color: white;
    }
    
    #message {
        width: 100%;
        height: 180px;
    }
    
    .oil{
        margin-top: 10%;
        width: 100%;
        height: 80%;
    }
    
    @media only screen and (min-width: 300px) and (max-width: 600px)  {
        .oil {
            display: none;
        }
        .contact-us {
            width: 100%;
            margin: 1rem;
            padding: 1rem;
      }
    
    }

    @media only screen and (min-width: 601px) and (max-width: 800px)  {
        .oil {
            margin-top: 10%;
            width: 90%;
            height: 60%;
            margin-top: 40%;
            
        }
        .contact-us {
            width: 80%;
            margin: 1rem;
            padding: 1rem;
      }
    
    }