.navigation {
    padding-top: .50%;
    display: flex;
    justify-content: space-around;
    font-family: 'Acme', sans-serif;
    padding-bottom: 10%;
    font-family: 'Exo 2', sans-serif; 
}

.header{
    background-image: url(../Assets/minimilistic.jpeg);
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    padding-bottom: 20%;
} 
h1 {
    font-size: 500%;
    text-align: center;
    top: 50%;
    left: 50%;
    font-family: 'Exo 2', sans-serif; 
}

.slogan {
    font-size: 150%;
    text-align: center;
    top: 60%;
    left: 50%;
    padding: 0 2% 0;
    font-family: 'Exo 2', sans-serif; 
}

.learn {
    font-size: 100%;
    align-items: center;
    position: absolute; 
    top: 70%;
    left: 50%;
    padding: 1% 2% 1%;
    border-radius: 25px;
    background-color: black;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'Exo 2', sans-serif; 
} 

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 370%;
    }
    .slogan {
        font-size: 100%;
    }
    .learn {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 350px) and (max-width: 449px) {
    h1 {
        font-size: 350%;
    }
    .slogan {
        font-size: 100%;
        padding-bottom: 10%;
    }
    .learn {
        margin-top: 20%;
        }
    
}

@media only screen and  (max-width: 450px) {
    h1 {
        font-size: 350%;
        padding-bottom: 8%;
    }
    .slogan {
        font-size: 100%;
    }
    .learn {
        margin-top: 10%;
        }
}

@media only screen and (min-width: 451px) and (max-width: 525px) {
    h1 {
        font-size: 400%;
    }
    .slogan {
        font-size: 115%;
    }
    .learn {
        margin-top: 10%;
        }
}

@media only screen and (min-width: 525px) and (max-width: 651px) {
    h1 {
        font-size: 400%;
    }
    .slogan {
        margin-top: 3%;
        font-size: 115%;
    }
    .learn {
        margin-top: 5%;
        }
}

@media only screen and (min-width: 651px) and (max-width: 750px) {
    .slogan {
        margin-bottom: 3%;
    }
    .learn {
        margin-top: 5%;
    }
}


